/* Fonts */
@font-face {
    font-family: '3dumbregular';
    src: url('fonts/3dumb-webfont.woff2') format('woff2'),
         url('fonts/3dumb-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: '1942_report1942_report';
    src: url('fonts/1942-webfont.woff2') format('woff2'),
         url('fonts/1942-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* General setup */

html {
  font-size: 10px;
  margin: 0;
  /*font-family: "1942_report1942_report", Arial, Helvetica, sans-serif;*/
  font-family: 'Oswald', sans-serif;
}

body {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}

/* Typography */

h1 {
  /*font-family: "3dumbregular", Arial, Helvetica, sans-serif;*/
  font-family: 'Limelight', cursive;
  font-size: 3.2rem;
}

h2 {
  /*font-family: "3dumbregular", Arial, Helvetica, sans-serif;*/
  font-family: 'Limelight', cursive;
  font-size: 2.4rem;
}

p {
  font-size: 1.4rem;
  line-height: 1.6;
  word-spacing: 0.6rem;
}